@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #A6FAFF;
  --foreground: #A6FAFF;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #A6FAFF;
    --foreground: #A6FAFF;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

hide-scrollbar::-webkit-scrollbar {
  display: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
